<!DOCTYPE html>

<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Burgers!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">

</head>

<body>
    <div class="container">
     div class="span4"><img class="center-block" height="200" width="200" src="/assets/img/burger.png"></div>
      <h1 class="text-center">Eat-Da-Burger!</h1>
        <div class="row">
            {{{body}}}
            <br>
        <form>
            <div class="row">
                <center>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <center><label for="new_burger" class="burgerOutput">Enter The Burger You Are Craving!</label></center>
                    <textarea class="form-control" placeholder="Enter Burger Here!"></textarea>
                    <br>
                    <button class="btn btn-outline-success">Submit!</button>
                </div>
                <div class="col-md-4"></div>
                </center>
            </div>
        </div>
        <br>
    </form>    
    </div>

</body>

</html>